* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0e1538;
  gap: 200px;
}

.box {
  position: relative;
  width: 300px;
  height: 400px;
  background: #0e1538;
}
.box::before {
  content: '';
  position: absolute;
  inset: -3px;
  background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
  box-shadow: 0 0 0 20px #070c23;
  z-index: -1;
}
.box::after {
  content: '';
  position: absolute;
  inset: -3px;
  background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
  z-index: -1;
  filter: blur(20px);

}
.box:nth-child(2)::before,
.box:nth-child(2)::after {
  background: linear-gradient(45deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);
}
.box:hover::before, 
.box:hover::after {
	animation-name: color-corners-1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: initial;
}
.box:nth-child(2):hover::before,
.box:nth-child(2):hover::after {
	animation-name: color-corners-2;
}

@keyframes color-corners-1 {
	0%   {background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	5%   {background: linear-gradient(54deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	10%   {background: linear-gradient(63deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	15%   {background: linear-gradient(73deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	21%   {background: linear-gradient(82deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	26%   {background: linear-gradient(92deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	31%   {background: linear-gradient(101deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	36%   {background: linear-gradient(111deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	42%   {background: linear-gradient(120deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	47%   {background: linear-gradient(130deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	52%   {background: linear-gradient(139deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	57%   {background: linear-gradient(149deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	63%   {background: linear-gradient(158deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	68%   {background: linear-gradient(168deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	73%   {background: linear-gradient(177deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	78%   {background: linear-gradient(187deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	84%   {background: linear-gradient(196deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	89%   {background: linear-gradient(206deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	94%  {background: linear-gradient(215deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	100%  {background: linear-gradient(225deg, #00ccff, #0e1538, #0e1538, #d400d4);}
}

@keyframes color-corners-2 {
	0%   {background: linear-gradient(45deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	5%   {background: linear-gradient(54deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	10%   {background: linear-gradient(63deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	15%   {background: linear-gradient(73deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	21%   {background: linear-gradient(82deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	26%   {background: linear-gradient(92deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	31%   {background: linear-gradient(101deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	36%   {background: linear-gradient(111deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	42%   {background: linear-gradient(120deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	47%   {background: linear-gradient(130deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	52%   {background: linear-gradient(139deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	57%   {background: linear-gradient(149deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	63%   {background: linear-gradient(158deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	68%   {background: linear-gradient(168deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	73%   {background: linear-gradient(177deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	78%   {background: linear-gradient(187deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	84%   {background: linear-gradient(196deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	89%   {background: linear-gradient(206deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	94%  {background: linear-gradient(215deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
	100%  {background: linear-gradient(225deg, #ffeb3b, #0e1538, #0e1538, #00ff0a);}
}